/*1순위가 적용이 안되면 2순위 폰트가 적용됨*/
html, body{
    font-family: 'S-CoreDream';
    font-weight:400; 
    font-size: 15px;
    letter-spacing: 0;
    color: #fff;
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 줄바꿈 강제로 실행 */
}
#wrap{ /* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을때 짤리는 현상 막음, #=id */
    min-width: 1260px;
    overflow: hidden;
}
.wrapper {/* 홈페이지 넓이 제한, 가운데 정렬 */
    /* width: 1300px; /* 좌우 양사이드 20px의 여백을 줄꺼라 1260+20*
    padding: 0 20px; 좌우 여백 -> 화면 사이즈 줄일때 가로스크롤바 생기는데 그때도 여백 20을 줌으로써 답답함 없앰 */
    width: 1260px;
    margin: 0px auto; /* 가운데 정렬 */
}
/* 1260px 나의 wrapper의 넓이에 좌우 여백 20px씩 추가한 사이즈 부터 반응형 */

@media screen and (max-width: 1600px){
    .wrapper {
        margin: 0 200px; /*사이즈 줄일때 양 사이드 퀵메뉴들이 겹쳐서 줌*/
        width: auto;
    }
}
@media screen and (max-width: 1300px){
    #wrap { 
        min-width: 100%;/* 브라우저 넓이에 꽉차게 */
    }
}
@media screen and (max-width: 1024px){
    html, body{
        font-size: 15px;
    } 
    .wrapper {
        margin: 0 20px; /* 넓이는 1260 유지, 좌우에 20px 여백 */
        width: auto;
    }
}
@media screen and (max-width: 768px){
    html, body{
        font-size: 13px;
    } 
}

/*
    기본이 15px 일때
    120px -8rem
    100px - 
    70px - 4.667rem /
    50px - 3.333rem
    45px - 3rem /
    40px -2.667rem
    35px - 2.333rem
    30px - 2rem /
    25px - 1.667rem /
    23px - 1.533
    20px - 1.333rem /
    18px - 1.2rem /
    17px - 1.133rem
    16px - 1.067rem
    15px - 1rem

    13px 일때
    40px - 3.077rem
    30px - 2.308rem
    25px - 1.923rem
    20px - 1.538rem
    18px - 1.385rem
    15px - 1.154rem
*/

:root {
    --txt-size-tit : 4.667rem; /*70px*/
    --txt-size-tit2 : 3.333rem; /*50px*/
    --txt-size-sub : 1.333rem; /*20px*/
    --txt-size-txt : 1.133rem; /*25px*/
    --txt-color-main : #001B48;
    --txt-color-main2 : #263D71;
    --txt-color-main3 : rgba(67, 142, 243, 0.6) /*마우스 오버시 색상*/
}