@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.main .inner {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.container .main {
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main_bg.png);
}
.container .main .main_tit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.container .main .main_tit::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 790px;
    height: 350px;
    border: 5px solid #fff;
    border-radius: 50%;
    content: "";
}
.container .main .main_tit::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 722px;
    height: 304px;
    border: 1px solid #fff;
    border-radius: 50%;
    content: "";
}
.container .main .main_tit h1 {
    font-family: 'ghanachoco';
    font-size: 80px;
    text-align: center;
    color: #fff;
    letter-spacing: -8px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}
.container .main .main_tit h1 .m {
    display: inline-block;
    transform: rotate(-16deg);
    font-size: 90px;
}
.container .main .main_tit h1 .y {
    display: inline-block;
    transform: rotate(13deg);
}
.container .main .main_tit h1 .p {
    display: inline-block;
    transform: rotate(-8.5deg);
    font-size: 90px;
}
.container .main .main_tit h1 .a {
    display: inline-block;
    transform: rotate(11deg);
}
.container .main .main_tit h1 .l {
    display: inline-block;
    transform: rotate(-13deg);
}
.container .main .main_tit h1 .e1 {
    display: inline-block;
    transform: rotate(11deg);
}
.container .main .main_tit h1 .t1 {
    display: inline-block;
    transform: rotate(-6deg);
}
.container .main .main_tit h1 .t2 {
    display: inline-block;
    transform: rotate(11deg);
}
.container .main .main_tit h1 .e2 {
    display: inline-block;
    transform: rotate(-17deg);
}
.container .main .sub_tit {
    font-family: 'ghanachoco';
    font-size: 30px;
    text-align: left;
    color: #fff;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 2%;
    bottom: 5%;
}
.container .iam .inner {
    position: relative;
}
.container .iam .iam_tit {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 0 0;
}
.container .iam .iam_tit .s_txt {
    font-family: 'ghanachoco';
    font-size: 30px;
    position: relative;
}
.container .iam .iam_tit .b_txt {
    font-family: 'ghanachoco';
    font-size: 70px;
    color: rgba(45, 45, 45, 0.2);
    position: absolute;
    top: 0;
}
.container .iam .profile .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.container .iam .profile .p_l {
    white-space: nowrap;
}
.container .iam .profile .photo {
    width: 260px;
    border-radius: 150px 150px 0 0; 
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
}
.container .iam .profile .design_txt {
    margin-top: 70px;
    margin-bottom: 10px;
}
.container .iam .profile .design_txt strong {
    display: inline-block;
    width: 96px;
    height: 20px;
    border-bottom: 1px solid #4AB8F3;
    position: relative;
}
.container .iam .profile .design_txt strong::before {
    position: absolute;
    left: 0;
    top: 14px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4AB8F3;
    content: "";
}
.container .iam .profile .design_txt span {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    margin: 0 5px;
}
.container .iam .profile .design_txt .i {
    font-family: 'ghanachoco';
    font-size: 30px;
    font-weight: 700;
    position: relative;
}
.container .iam .profile .design_txt .i::before {
    position: absolute;
    right: -13px;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4AB8F3;
    content: "";
}
.container .iam .profile .coding_txt strong {
    display: inline-block;
    width: 96px;
    height: 20px;
    border-bottom: 1px solid #C6B8F3;
    position: relative;
}
.container .iam .profile .coding_txt strong::before {
    position: absolute;
    left: 0;
    top: 14px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C6B8F3;
    content: "";
}
.container .iam .profile .coding_txt span {
    display: inline;
    font-size: 20px;
    font-weight: 500;
    margin: 0 5px;
}
.container .iam .profile .coding_txt .i {
    font-family: 'ghanachoco';
    font-size: 30px;
    font-weight: 700;
    position: relative;
}
.container .iam .profile .coding_txt .i::before {
    position: absolute;
    right: -13px;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C6B8F3;
    content: "";
}
.container .iam .profile .p_r {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.container .iam .profile .p_r strong {
    white-space: nowrap;
}
.container .iam .profile .p_r .r_1 {
    margin-right: 50px;
}
.container .iam .profile .p_r .r_1 .my {
    margin-bottom: 30px;
}
.container .iam .profile .p_r h3 {
    font-family: 'ghanachoco';
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.container .iam .profile .p_r h3 span {
    display: inline-block;
    border-bottom: 2px solid #4AB8F3;
    line-height: 40px;
}
.container .iam .profile .p_r ul li {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    line-height: 20px;
}
.container .iam .profile .p_r ul li strong {
    margin-right: 20px;
}
.container .iam .profile .p_r .work {
    margin: 30px 0;
}
.container .iam .profile .p_r .skill ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.container .iam .profile .p_r .skill ul li {
    position: relative;
    font-size: 0;
    line-height: 0;
    margin-right: 10px;
}
.container .iam .profile .p_r .skill ul li.html,
.container .iam .profile .p_r .skill ul li.css,
.container .iam .profile .p_r .skill ul li.jquery {
    width: 43px;
    height: 60px;
}
.container .iam .profile .p_r .skill ul li.illustrator,
.container .iam .profile .p_r .skill ul li.photoshop,
.container .iam .profile .p_r .skill ul li.figma {
    width: 50px;
    height: 50px;
}
.container .iam .profile .p_r .skill ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
.container .iam .profile .p_r .skill ul li.html::before {
    background-image: url(../images/html_ico.png);
}
.container .iam .profile .p_r .skill ul li.css::before {
    background-image: url(../images/css_ico.png);
}
.container .iam .profile .p_r .skill ul li.jquery::before {
    background-image: url(../images/jequry_ico.png);
}
.container .iam .profile .p_r .skill ul li.illustrator::before {
    background-image: url(../images/illustrator_ico.png);
}
.container .iam .profile .p_r .skill ul li.photoshop::before {
    background-image: url(../images/photoshop_ico.png);
}
.container .iam .profile .p_r .skill ul li.figma::before {
    background-image: url(../images/figma_ico.png);
}
.container .web .web_tit {
    margin: 30px 0 0 30px;
    position: relative;
}
.container .web .web_tit .s_txt {
    font-family: 'ghanachoco';
    font-size: 30px;
}
.container .web .web_tit .b_txt {
    font-family: 'ghanachoco';
    font-size: 70px;
    color: rgba(45, 45, 45, 0.2);
    position: absolute;
    left: 0;
    top: 0;
}
.container .web .web_box .coex {
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/coex.png);
    width: 100%;
    height: 40vw;
    margin-top: 80px;
}
.container .web .web_box .inner {
    padding: 150px 0 0 50px;
    width: 40%;
}
.container .web .web_box .coex .inner h2 {
    font-family: 'ghanachoco';
    font-size: 30px;
    color: #001B48;
    margin-bottom: 10px;
}
.container .web .web_box .inner strong {
    display: block;
    font-size: 15px;
    line-height: 20px;
}
.container .web .web_box .inner .color {
    display: flex;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: 10px;
}
.container .web .web_box .inner .color ul {
    display: flex;
    align-items: center;
}
.container .web .web_box .inner .color ul li {
    width: 18px;
    height: 18px;
    font-size: 0;
    line-height: 0;
    border-radius: 50px;
    margin: 0 7px;
}
.container .web .web_box .coex .inner .color ul li.c1 {
    background-color: #001B48;
}
.container .web .web_box .coex .inner .color ul li.c2 {
    background-color: #263D71;
}
.container .web .web_box .coex .inner .color ul li.c3 {
    background-color: #3B63A1;
}
.container .web .web_box .coex .inner .color ul li.c4 {
    background-color: #fff;
    border: 1px solid rgba(32, 35, 31, 0.6);
}
.container .web .web_box .inner .link a {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #20231F;
    transition: 0.5s;
}
.container .web .web_box .inner .link a:hover {
    background-color: #20231F;
    color: #fff;
}
.container .web .web_box .camoa {
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/camoa.png);
    width: 100%;
    height: 40vw;
}
.container .web .web_box .camoa .inner h2 {
    font-family: 'ghanachoco';
    font-size: 30px;
    color: #20231F;
    margin-bottom: 10px;
}
.container .web .web_box .camoa .inner ul li.c1 {
    background-color: #20231F;
}
.container .web .web_box .camoa .inner ul li.c2 {
    background-color: #333333;
}
.container .web .web_box .camoa .inner ul li.c3 {
    background-color: #D9D9D9;
}
.container .web .web_box .camoa .inner ul li.c4 {
    background-color: #F5F5F5;
}
.container .web .web_box .camoa .inner ul li.c5 {
    background-color: #fff;
    border: 1px solid rgba(32, 35, 31, 0.6);
}
.container .web .web_box .hope {
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/hope.png);
    width: 100%;
    height: 40vw;
}
.container .web .web_box .hope .inner h2 {
    font-family: 'ghanachoco';
    font-size: 30px;
    color: #568034;
    margin-bottom: 10px;
}
.container .web .web_box .hope .inner .color ul li.c1 {
    background-color: #568034;
}
.container .web .web_box .hope .inner .color ul li.c2 {
    background-color: #B5C268;
}
.container .web .web_box .hope .inner .color ul li.c3 {
    background-color: #FFE27C;
}
.container .web .web_box .hope .inner .color ul li.c4 {
    background-color: #C8B6A0;
}
.container .web .web_box .hope .inner .h_link {
    display: flex;
}
.container .web .web_box .hope .inner .h_link strong a {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #20231F;
    transition: 0.5s;
    margin-right: 10px;
}
.container .web .web_box .hope .inner .h_link a:hover {
    background-color: #20231F;
    color: #fff;
}
.container .web .web_box .samcheck {
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/samcheck.png);
    width: 100%;
    height: 40vw;
}
.container .web .web_box .samcheck .inner h2 {
    font-family: 'ghanachoco';
    font-size: 30px;
    color: #0074E5;
    margin-bottom: 10px;
}
.container .web .web_box .samcheck .inner .color ul li.c1 {
    background-color: #2D2D2D;
}
.container .web .web_box .samcheck .inner .color ul li.c2 {
    background-color: #DDDDDD;
}
.container .web .web_box .samcheck .inner .color ul li.c3 {
    background-color: #0074E5;
}
.container .design {
    background-color: rgba(233, 143, 213, 0.07);
}
.container .design .inner {
    position: relative;
}
.container .design .design_tit {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 0 0;
}
.container .design .design_tit .s_txt {
    font-family: 'ghanachoco';
    font-size: 30px;
}
.container .design .design_tit .b_txt {
    font-family: 'ghanachoco';
    font-size: 70px;
    color: rgba(45, 45, 45, 0.2);
    position: absolute;
    top: 0;
}
.container .design .design_ctn .d_tit {
    display: flex;
    margin: 70px 0 50px;
    align-items: center;
}
.container .design .design_ctn .d_tit h2 {
    font-size: 35px;
    font-weight: 700;
}
.container .design .design_ctn .d_tit h2 span {
    border-bottom: 1px solid #2d2d2d;
}
.container .design .design_ctn .d_tit a {
    padding: 5px 20px;
    border: 1px solid #2d2d2d;
    margin-left: 10px;
    transition: 0.5s;
}
.container .design .design_ctn .d_tit a:hover {
    background-color: #2d2d2d;
    color: #fff;
}
.container .design .design_ctn ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .design .design_ctn ul li .d_list {
    margin-top: 20px;
    width: 50%;
    margin-right: 150px;
}
.container .design .design_ctn ul li .d_list strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}
.container .design .design_ctn ul li .d_list strong::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2d2d2d;
    content: "";
}
.container .design .design_ctn ul li .d_list span {
    font-size: 20px;
}
.container .design .design_ctn h2 {
    font-size: 35px;
    font-weight: 700;
}
.container .design .design_ctn h2 span {
    border-bottom: 1px solid #2d2d2d;
}

.fainal {
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/f_bg.png);
}
.fainal .inner {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.fainal h2 {
    font-family: 'ghanachoco';
    font-size: 80px;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.fainal ul {
    font-family: 'ghanachoco';
    font-size: 30px;
    color: #fff;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 4%;
    bottom: 4%;
}